My workflow - Agente com uso integrado ao Telegram.json
{
  "name": "My workflow 3 - Agente",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "Você é o HR Buddy, assistente virtual de RH da ChocolaTech.\nREGRAS:\n\nSempre responda em português.\nResponda APENAS dúvidas relacionadas a RH.\nIDENTIFICAÇÃO DO FUNCIONÁRIO:\nSe o usuário não disser quem é, pergunte o nome completo dele logo na primeira mensagem.\nUse a ferramenta MySQL para buscar na tabela funcionarios usando SEMPRE o NOME COMPLETO informado pelo usuário na conversa.\nSe encontrado: use os saldos de férias e banco de horas.\nSe não encontrado: não invente dados pessoais. Responda apenas com base nas políticas gerais de RH do Vector Store.\nUse a base de conhecimento para dúvidas gerais.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "982c44b2-d600-44f8-a97c-17dc02a5cc4b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        16,
        272
      ],
      "id": "26448ade-b58b-43d3-9ace-a1546b2fb192",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "fE9inKGotnkfwtQU",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "busque informações sobre politicas de RH, férias, horarios e rotinas da empresa ChocolaTech ",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        448,
        272
      ],
      "id": "033bde6f-93b1-45c7-9a0a-1334c6cc856b",
      "name": "Simple Vector Store"
    },
    {
      "parameters": {
        "modelName": "embed-english-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        448,
        608
      ],
      "id": "2b049ab9-5d97-441f-bbe3-cc9c0b94ad74",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "fE9inKGotnkfwtQU",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "table": {
          "__rl": true,
          "value": "funcionarios",
          "mode": "list",
          "cachedResultName": "funcionarios"
        },
        "where": {
          "values": [
            {
              "column": "nome",
              "condition": "LIKE",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('values0_Value', `sempre use o formato %nome% (com % no inicio e no fim) para busca parcial. \nExemplo: %João Silva%.`, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        352,
        400
      ],
      "id": "8a6e5891-2592-4873-95d8-235558afcb02",
      "name": "Select rows from a table in MySQL",
      "credentials": {
        "mySql": {
          "id": "BeWtPpWC1ELFCuLh",
          "name": "MySQL account 2"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        240,
        272
      ],
      "id": "834a82d6-4b1e-45dd-907f-06a5238353e3",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "a5fa34c3-95f7-4d51-a3fa-542f6aa9a263",
      "name": "Telegram Trigger",
      "webhookId": "fa7ef000-b052-4bf4-99c0-7620236aad1d",
      "credentials": {
        "telegramApi": {
          "id": "Er6wsCV8n7WgdlFJ",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -256
      ],
      "id": "3deb70e5-60e8-4678-b3ea-d543e7b74399",
      "name": "Send a text message",
      "webhookId": "43184d0a-5ad2-4435-a003-ac89a7db945d",
      "credentials": {
        "telegramApi": {
          "id": "Er6wsCV8n7WgdlFJ",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table in MySQL": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "be4a975f-d1a6-4f4d-ac24-9462515a0c98",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ec16717cb46ba9a1bf7a0318ad5b5f5b4857117e8031b9ddd12487d483cefda0"
  },
  "nodeGroups": [],
  "id": "CbDVu1vYgNX329HE",
  "tags": []
}